.bigphoto {
	padding: 20px 0;
	background: #ddd;

	&__container {
		height: 500px;
		margin: 40px auto;
		position: relative;
		line-height: 500px;
		overflow: hidden;
		text-align: center;
		
		@media screen and (max-width: 480px) {
			height: 300px;
			line-height: 300px;
		}
	}

	&__img {
		max-height: 100%;
		max-width: 100%;
		margin: 0 auto;
		display: inline-block;
		vertical-align: middle;
	}

	&__nav {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 50%;
		margin-top: -20px;
		text-align: center;
		line-height: 40px;
		transition: transform 0.2s ease;
		cursor: pointer;

		i {
			font-size: 2rem;
		}

		&--prev {
			left: 0;

			&:hover {
				transform: translate(-10px, 0);
			}
		}

		&--next {
			right: 0;

			&:hover {
				transform: translate(10px, 0);
			}
		}
	}
}