.header {
	padding: 20px;
	@include clearfix();
	position: relative;

	&__title {
		display: inline-block;
		font-size: 1.5rem;
		line-height: 40px;
	}

	&__form {
		display: inline-block;
		float: right;
	}

	&__input {
		padding: 10px 40px 10px 10px;
		font-size: 1rem;
		vertical-align: top;
	}

	&__search-icon,
	&__reset-icon {
		float: right;
		font-size: 1.5rem;
		position: absolute;
		right: 30px;
		top: 27px;
		cursor: pointer;
	}
}