.pagination {
	@include clearfix();
	padding: 20px 0;
	
	&__container {
		float: right;
	}

	&__nav {
		line-height:  28px;

		&--prev {
			margin-right: 20px;

			&:hover {
				cursor: pointer;
			}
		}

		&--next {
			margin-left: 20px;

			&:hover {
				cursor: pointer;
			}
		}

		&--disabled {
			opacity: 0.2;

			&:hover {
				cursor: default;
			}
		}

		@media screen and (max-width: 480px) {
			display: block;
			text-align: center;
		}
	}
	
	&__list {
		display: inline-block;

		@media screen and (max-width: 480px) {
			display: block;
			text-align: center;
		}
	}

	&__item {
		display: inline-block;
		padding: 5px 7px;
		font-size: 1.1rem;
		&--current {
			background: #666;
			color: #fff;

			&:hover {
				background: #666;
				cursor: auto;
			}
		}

		&:hover {
			background: #ccc;
			cursor: pointer;
		}

		@media screen and (max-width: 640px) {
			padding: 10px 14px;
		}
	}
}