.photolist {
	box-sizing: border-box;
	padding-top: 20px;

	&__item {
		box-sizing: border-box;
		padding: 10px;
		width: 20%;
		display: inline-block;
		cursor: pointer;
		overflow: hidden;
		transition: all 0.2s ease;

		&--selected {
			background: #666;

			&:hover {
				background: #666;
			}
		}

		&:hover {
			background: #ccc;
		}

		@media screen and (max-width: 800px) {
			width: 33.333%
		}
	}

	&__image {
		width:100%;
		transition: all 0.2s ease;

		&:hover {
			background: #ccc;
			transform: scale(0.8);
		}
	}
}