<header class="container header">
	<h1 class="header__title">My Gallery</h1>
	<form ng-submit="onSubmit()" class="header__form">
		<input ng-model="header.search" class="header__input" type="text" placeholder="Search">
		<i class="header__search-icon fa fa-search" aria-hidden="true" ng-show="header.magnifier" ng-click="onSubmit()"></i>
		<i class="header__reset-icon fa fa-times" aria-hidden="true" ng-show="!header.magnifier" ng-click="onReset()"></i>
	</form>
</header>