<div class="container">
	<ul class="photolist">
		<li class="photolist__item" ng-class="$index === photo.current ? 'photolist__item--selected':''" ng-repeat="img in photo.list track by $index" ng-click="onHandClick($index)">
			<img class="photolist__image" ng-src="{{img}}" alt="">
		</li>
	</ul>
</div>