<div class="container">
	
	<nav class="pagination">
		<div class="pagination__container">
			<span class="pagination__nav pagination__nav--prev" ng-click="onPrevPage()" ng-class="page.currPage === 1 ? 'pagination__nav--disabled' : ''">
				<i class="fa fa-angle-double-left" aria-hidden="true"></i>
				Previous
			</span>
			<ul class="pagination__list">
				<li ng-repeat="p in page.navList track by $index" class="pagination__item" ng-class="p === page.currPage ? 'pagination__item--current' : ''" ng-click="onPaginationClick(p)">{{p}}</li>
			</ul>
			<span class="pagination__nav pagination__nav--next" ng-click="onNextPage()">
				Next
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</span>
		</div>
	</nav>
</div>