<section class="bigphoto">
	<div class="container bigphoto__container">
		<span class="bigphoto__nav bigphoto__nav--prev" ng-click="onPrevClick()" ng-hide="big.currPage === 1 && big.currPhoto === 0">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
		</span>
			<img class="bigphoto__img" ng-src="{{big.current}}" alt="">
		<span class="bigphoto__nav bigphoto__nav--next" ng-click="onNextClick()">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</span>
	</div>
</section>