<navHeader search="main.search"></navHeader>
<bigPhoto ng-if="main.current" current="main.current" curr-page="main.page" curr-photo="main.photoId"></bigPhoto>
<photoList ng-if="main.photos" list="main.photos" current="main.photoId"></photoList>
<pagination ng-if="main.pages" pages="main.pages" curr-page="main.page"></pagination>